@model CandyShop.Models.DBModels.Sweetness

@{
    string stockLevelAnnouncement = "out of stock";

    var stockLevelObject = ViewData["stockLevel"];
    if (stockLevelObject != null)
    {
        string stockLevelString = stockLevelObject.ToString();
        int stockLevelInt = int.Parse(stockLevelString);

        if (stockLevelInt > 1)
            stockLevelAnnouncement = "Low";

        if (stockLevelInt > 500)
            stockLevelAnnouncement = "Medium";

        if (stockLevelInt > 5000)
            stockLevelAnnouncement = "High";
    }
}

<div>
    <h3>@ViewData["name"]</h3>
    <hr />
    <div class="container" style="display: flex; flex-wrap: wrap;">
        <div class="first-photo">
            <div class="bg-dark" style="width: 300px; height: 400px">

            </div>
        </div>
        <div class="second-description ml-2">
            <div class="m-1">
                <h4>Description:</h4>
                @ViewData["description"]
            </div>
            <div class="m-1">
                isGluten: @ViewData["gluten"], isVegan: @ViewData["vegan"]
            </div>
            <hr />
            <div class="m-1">
                StockLevel: @stockLevelAnnouncement
            </div>
            <div style="display: flex; flex-wrap: wrap;">
                <div class="m-1">
                    Price: @ViewData["price"] $
                </div>
                <button class="m-1">Add to basket</button>
            </div>
        </div>
    </div>
</div>